@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header,
footer,
.quote,
.contact {
  display: flex;
}

header {
  flex-direction: column;
  padding: 24px;
  align-items: center;
}

header,
footer {
  background-color: #1F2937;
  color: #F9FAF8;
}

.header-container {
  width: 60%;
}

.header-logo,
.header-logo>ul,
.header-content {
  display: flex;
}

.header-logo {
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 96px;
}

.header-logo > ul {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 400;
  gap: 24px;
}

.header-content {
  justify-content: space-between;
  margin-bottom: 96px;
}

.header-content_text {
  width: 480px;
}

.header-content_text > h1 {
  font-size: 48px;
}

.header-content_text > p {
  color:  #E5E7EB;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 16px;
}

.header-content_text > button {
  background-color: #3882F6;
  font-size: 18px;
  color: #E5E7EB;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
}

.header-content > img {
  object-fit: scale-down;
  max-width: 100%;
}

.information > h2 {
  font-size: 36px;
  margin: 48px;
  text-align: center;
}

.information-images {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.information-images > div {
  width: 200px;
  text-align: center;
}

.information-images img {
  border: 4px solid #3882F6;
  border-radius: 16px;
}

.information-images p {
  text-align: center;
}

.quote {
  background-color: #E5E7EB;
  flex: 1 0 300px;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
  justify-content: center;
  align-items: center;
}

.quote > blockquote {
  width: 800px;
}

.quote > blockquote > p:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  text-align: end;
}

.contact {
  flex: 1 0 300px;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  background-color: #3882F6;
  border-radius: 16px;
  width: 1000px;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.contact-text {
  color: #F9FAF8;
}

.contact-text > p {
  stop-color: #E5E7EB;
  font-weight: 300;
}

.contact button {
  font-size: 20px;
  color: #F9FAF8;
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  border-radius: 10px;
  padding: 6px 36px;
}
